.modal {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: #00000075;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .input_wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        & > input {
            height: 40px;
            width: 100%;
            outline: none;
            background: rgba(0, 0, 12, 0.842);
            border: none;
            border-bottom: 1px solid rgb(21, 21, 39);
            text-align: center;
            color: rgb(37, 37, 49);
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
        & > button {
            padding: 10px 35px;
            background: rgba(0, 0, 12, 0.842);
            text-align: center;
            color: rgb(37, 37, 49);
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            border-radius: 20px;
        }
        & > span {
            color: rgb(129, 0, 0);
            font-size: 12px;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
    }
}
